<div class="container">
  <form class="form-inline" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field >
        <mat-label>Email</mat-label>
        <input name = "emailAddressForm" matInput [(ngModel)]="user.email" placeholder="Ex. pat@example.com">
      </mat-form-field>
    </div>
  
    <div class="form-group ml-3">
      <ejs-datetimepicker name ="startWorkTime" [(ngModel)]='startWorkTime' width="200px"></ejs-datetimepicker>
    </div>
  
    <div class="form-group ml-3">
      <ejs-datetimepicker name ="endWorkTime" [(ngModel)]='endWorkTime' width="200px"></ejs-datetimepicker>
    </div>
  
    <button class="btn btn-dark ml-3" type="submit">Submit</button>
  </form>
</div>
